data_processing==0.1.4
datasets==2.4.0
langchain==0.0.179
matplotlib==3.3.2
numpy==1.19.5
pandas==1.1.5
pydantic==1.8.2
scikit_learn==1.2.2
seaborn==0.11.0
sentence_transformers==2.2.2
shap==0.41.0
tiktoken==0.4.0
xgboost==1.5.2
